<%- include("./head.ejs") %>
    <title>Panel Admin</title>
    <meta name="description" content="">
  </head>
  <body style="min-height: 100vh;">
    <header>
      <section>
        <%- include("./nav.ejs") %>
      </section>
    </header>
    <div class="container row position-absolute top-50 start-50 translate-middle">
      <%- include("./options.ejs") %>
    </div>
    <footer class="text-center text-lg-start footer position-absolute bottom-0" style="width: 100%;">
        <div id="Contacto" class="text-center text-white p-3" style="background-color: black">
              &copy; 2022-1:
              <a class="text-white" href="https://github.com/SantiagoGaonaC/PartsCO">Proyecto integrador 1 | PartsCO</a>
        </div>
    </footer>
</body>
</html>