<%- include("./template/head.ejs") %>

    <title>Panel Admin</title>
    <meta name="description" content="">
  </head>

  <body>
    <header>
      <section>
        <%- include("./template/nav.ejs") %>
      </section>
    </header>

    <div class="container row position-absolute top-50 start-50 translate-middle">
      <%- include("./template/options.ejs") %>
    </div>

</body>
</html>

