<div class="container position-absolute top-50 start-50 translate-middle ">
    <div class="container shadow">
      <div class="row">
        <section class="">
          <div class="container mb-5 ">
            <h1 class="text-center mt-4">Información y gestión usuarios</h1>
            <div class="container mb-2">
              <a href="/create-empleado" id="create" name="create" class="btn btn-outline-dark mt-4"><i class="fa-solid fa-user-plus"></i> Crear usuario</a>
              <hr>
            </div>
            <table id="usuarios" class="table table-striped table-bordered text-center table-hover nowrap" style="width:100%">
              <thead>
                <tr class="table-dark text-white">
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Email</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>