<div class="">
    <div class="card-deck">
      <div class="row justify-content-center g-3">
        <div class="col-auto ">
          <div class="card shadow  text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Información de Usuarios</h5>
              <p class="card-text">Crear, actualizar, buscar y eliminar usuarios.</p>
              <a href="/admin-empleado" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
        <div class="col-auto ">
          <div class="card shadow  text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Historial ingreso Usuarios</h5>
              <p class="card-text">Listados inicio de sesión</p>
              <a href="/logs-empleados" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Solicitudes y Facturas</h5>
              <p class="card-text">Lista de solicitudes y facturas</p>
              <a href="/solicitudes-empleado" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Información de productos</h5>
              <p class="card-text">Crear, actualizar, buscar y eliminar productos.</p>
              <a href="/productos-empleado" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Descuentos</h5>
              <p class="card-text">Mostrar descuentos disponibles</p>
              <a href="/descuentos-empleado" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Historico de precios</h5>
              <p class="card-text">Mostrar el historial de precios</p>
              <a href="/historico-precios-empleado" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>