<!-- container position-absolute top-50 start-50 translate-middle  -->
<div class="">
    <div class="card-deck">
      <div class="row justify-content-center g-3">
          
        <div class="col-auto ">
          <div class="card shadow  text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Informaci贸n de Usuarios</h5>
              <p class="card-text">Crear, actualizar, buscar y eliminar usuarios.</p>
              <a href="/admin" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <div class="col-auto ">
          <div class="card shadow  text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Historial ingreso Usuarios</h5>
              <p class="card-text">Listados inicio de sesi贸n</p>
              <a href="/logs" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Informaci贸n de productos</h5>
              <p class="card-text">Crear, actualizar, buscar y eliminar productos.</p>
              <a href="/productos" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gesti贸n de solicitudes</h5>
              <p class="card-text">Lista de solicitudes</p>
              <a href="/solicitudes" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Descuentos</h5>
              <p class="card-text">Mostrar descuentos disponibles</p>
              <a href="/descuentos-admin" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>