<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <img src="/public/img/logo/partsCo.svg" class="navbar-brand img-responsive logo" style="width: 5%" title="LogoPartsCO" alt="LogoPartsCO">
      <!-- <a class="navbar-brand logo-text" href="#">Santiago</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/panel">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Usuario</a>
          </li>
        </ul>
        <form class="d-flex nav-item">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn  btn-primary me-md-2" type="submit">Buscar</button>
          <a href="logout" type="button" class="btn btn-primary">logout</a>
        </form>
      </div>
    </div>
  </nav>