<!-- container position-absolute top-50 start-50 translate-middle  -->
<div class="">
    <div class="card-deck">
      <div class="row justify-content-center g-3">
          
        <div class="col-auto ">
          <div class="card shadow  text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Información de Usuarios</h5>
              <p class="card-text">Crear, actualizar, buscar y eliminar usuarios.</p>
              <a href="/admin" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <div class="col-auto ">
          <div class="card shadow  text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Historial Usuarios</h5>
              <p class="card-text">Último inicio de sesión...</p>
              <a href="/logs" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <!-- <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Editar Productos</h5>
              <p class="card-text">Editar Productos</p>
              <a href="#" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">TITULO</h5>
              <p class="card-text">Texto de la carta Boton?</p>
              <a href="#" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">TITULO</h5>
              <p class="card-text">Texto de la carta Boton?</p>
              <a href="#" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="card shadow text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">TITULO</h5>
              <p class="card-text">Texto de la carta Boton?</p>
              <a href="#" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="card shadow text-center"  style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">TITULO</h5>
              <p class="card-text">Texto de la carta Boton?</p>
              <a href="#" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>

  </div>